
* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }

html { width: 100%; height:100%; overflow:hidden; }

h1 {
	margin-top: 100px;
}

body { 
	width: 100%;
	height:100%;
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
	background: #2D3142;
	color: #fff;
	font-size: 18px;
	text-align:center;
	letter-spacing:1.2px;
}

span {
	border: 2px solid #C4B6B6;
	padding: 10px;
}

input { 
	width: 100%; 
	margin-bottom: 10px; 
	background: rgba(0,0,0,0.3);
	outline: none;
	padding: 10px;
	color: #fff;
	border-radius: 4px;
	border-style: none;
}

input,
input::-webkit-input-placeholder {
    font-size: 20px;
	font-family: 'Montserrat', sans-serif;
}

input[type=text] {
	-webkit-transition: width .35s ease-in-out;
	transition: width .35s ease-in-out;
}
input[type=text]:focus {
	width: 250px;
}

a {
	color: #BFC0C0;
	text-decoration: none;
	letter-spacing: 1px;
}

.button-3 {
	color: #FFF;
	transition: all 0.5s;
	position: relative;
}
.button-3::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(255,255,255,0.1);
	transition: all 0.3s;
}
.button-3:hover::before {
	opacity: 0 ;
	transform: scale(0.5,0.5);
}
.button-3::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border: 1px solid rgba(255,255,255,0.5);
	transform: scale(1.2,1.2);
}
.button-3:hover::after {
	opacity: 1;
	transform: scale(1,1);
}

.button {
	display: inline-flex;
	height: 40px;
	width: 150px;
	border: 2px solid #BFC0C0;
	margin: 20px 20px 20px 20px;
	background-color: #2D3142;
	color: #BFC0C0;
	text-transform: uppercase;
	text-decoration: none;
	font-size: .8em;
	letter-spacing: 1.5px;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

#button-2 {
	position: relative;
	overflow: hidden;
	cursor: pointer;
}
  
#button-2 a {
	position: relative;
	transition: all .35s ease-Out;
}

#slide {
	width: 100%;
	height: 100%;
	left: -200px;
	background: #BFC0C0;
	position: absolute;
	transition: all .35s ease-Out;
	bottom: 0;
}

#button-2:hover #slide {
	left: 0;
}
  
#button-2:hover a {
	color: #2D3142;
}

.login { 
	position: absolute;
	top: 40%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width:400px;
	height:400px;
}
